.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  padding-bottom: 100px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  clear: both;
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
  /* text-align: left; */
  /* padding-left: 30px; */
  justify-content: center;
  color: #FBF4E9;
}

.App-header h3{
  display: inline;
  float: left;
  text-align: left;
  padding-left: 50px;
  padding-top: 10px;
}

.App-header h5 {
  display: inline;
  float: right;
  text-align: right;
  padding-right: 50px;
  padding-top: 17px;
}

.create-auc-btn {
  margin-top: 2%;
  width: 15%;
}

.create-auction-row {
  width: 80%;
  margin: auto;
  text-align: right;
}

.chooseAnotherAuction {
  width: 50%;
  margin-top: 20px;
}


.card {
  margin: 30px auto;
  width: 50%;
}

.footer-padding {
  padding-bottom: 60px;
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #282c34;
  padding-top: 15px;
  z-index: 10;
}

.footer a {
padding-left: 15px;
padding-right: 15px;
color: #777;
}

.footer a:hover {
color: #1abc9c;
}

.footer p {
  margin-top: 10px;
  font-size: 12px;
  color: #777;
}

.output-display {
  width: 100%;
  margin-bottom: 0;
  padding-left: 5%;
  min-height: 5rem;
  /* background-color: #e9ecef; */
  background-color: #cdd4da;
  border: 0;
}

.tileContainer {
  width: 70%;
  margin: 5% auto 10%;
}

.mb-3 {
  margin-bottom: 0!important;
}

/* .btn-secondary {
  width: 100%;
  font-size: small;
} */

#basic-addon2 {
  width: 100%
}

#basic-addon3 {
  width: 40%
}

#button-addon {
  margin-bottom: 2rem;
}

.tile p {
  font-size: small;
  margin: 10px auto;
}

.input-group-text {
  width: 20%;
}

.App-link {
  color: #61dafb;
}

.connectClient {
  margin-top: 5%;
  width: 15%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
